body{
				font-size: 10px;
				color: #fff;
				background-color: #61122f;
				font-family: 'Oxygen', sans-serif;
			}
/** HEADER **/
#header-nav {
				background-color: gold;
				border-radius: 0;
				border: 0;
			}
.navbar-brand {
 				  padding-top: 25px;
 				}
.navbar-brand h1 { /* Restuarant name */
 	font-family: "lora", serif;
 	color:#557c3e;
 	font-size: 1.5em;
 	text-transform: uppercase;
 	font-weight: bold;
 	text-shadow: 1px 1px 1px #222;
 	margin-top: 0;
 	margin-bottom: 0;
 	line-height: .75;
 					}
 
 	.navbar-brand a:hover, .navbar-brand a:focus {
 					text-decoration: none;
 					}
	#nav-list{
					margin-top: 0px;
					margin-bottom: 0px;
					}
									
	#nav-list a{
					color: #951C49;
					text-align: center;
					}
					
	#nav-list a:hover {
					background: #E7E7E7;
					}
									
								
	#nav-list a span {
					font-size: 1.8em;
					}
	.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
					 border: 1px solid #61122f;
					}
					
.navbar-header button.navbar-toggle {
				clear: both;
				margin-top:-30px;
				}
				
				 #nav-list
				{
					background-color: orange;			
								}
				
				 #collapsable-nav a {/* Collapsed nav menu glyph */
 				   font-size: 1.2em;
 				   }
 				   #collapsable-nav a span {
 				   				font-size: 1em;
 				   				margin-right:5px;
 				   				}
				
				
			.container{
					width:100%;
					position:relative;
					}
				section{
								
								overflow:auto;
								}
								#p1{
												border:5px solid gold;
												margin-bottom:10px;
											height:650px;
											overflow:auto;
											background-color: #97FF002E;
											font-family: 'Oxygen', sans-serif;				
												position:relative;
												}
									#p2{
												border:5px solid gold;
												margin-bottom:10px;
												height:650px;
											overflow:auto;
											background-color:purple;
												font-family: 'Oxygen', sans-serif;
												position: relative;
												}
											#p3{
												border:5px solid gold;
												margin-bottom:10px;
												height:650px;
											overflow:auto;
											background-color: #FF0068AF;
												font-family: 'Oxygen', sans-serif;
												position:relative;
												}
					
							#r1{
												margin-top:1px;
												margin-bottom:1px
												height:20px;
												overflow:auto;
												background-color: none;
												/*position: absolute;*/
												top:0;
												
												}
												
										#r2{
												margin-top:1px;
												marging-bottom:1px
												height:20px;
												overflow:auto;
												background-color: none;
												top:0;
												}
											#r3 {
												margin-top:1px;
												margin-bottom:1px;
												overflow:auto;
												background-color: none;
												top:0;
												}		
				
				p{
															font-size:15px;
								}
			
								
				@media (min-width:700px){
								
								
									p{
															font-size:48px;
								}
								h3{
												font-size:40px;
												}
					
				}

